# Client
WEB_PORT=5173

# API
API_PORT=3000
API_HOST=0.0.0.0

# Database
POSTGRES_DB=solar_balls
POSTGRES_USER=solar_balls
POSTGRES_PASSWORD=solar_balls_dev
POSTGRES_PORT=5432
DATABASE_URL=postgresql://solar_balls:solar_balls_dev@localhost:5432/solar_balls
